1 What are data structures, and why are they important?
- In python data structure are ways of storing, managing and organizing data in software, we can use it efficiently .In python there are different data structure like list, tuple, set, dictionary.
- In python every data structure have their different properties so, using the correct data structure for your dataset you can efficiently access and modified data ,better memory usage, organize data is easy to read , maintain and also perform some modification is easy.

2 Explain the difference between mutable and immutable data types with examples?
- In python mutable data types means changeble like we can add, remove and update the data structure.
- Immutable data type means unchangeble like we can not edit the data structure after we created it .
- Mutable data type :exm List , we can modify the list after we create it .
we can add element into list we can remove element from the list , we can update the list .exm list ,set,dict.
- Immutable data type :example tuple , once we created object into tuple we can not change it.

3 What are the main differences between lists and tuples in Python?
- Difference between list and tuple:
- List :- List is a mutable data type means changeble.
- list is enclose in '[]' bracket.
- In python we use list when we need to change the object after the creation on item or data structure.
- exm.lst=[1,2,3]
- Tuple:- Tuple is immutable  Data type means not changeble.
- tuple is enclosed in () paranthesis.
- In python we use tuple when we don't need to change the object after the creation.
- exm. tup=(1,2,3)

4 Describe how dictionaries store data?
- In python dictionary is unordered and mutable collection of items.
- Dictionary is stored the data in key:value pair.
- key in unique and immutable where value can be store anything.
- Computes a hash (a number) from each key.
- example:-
 my_dict={"name":"xyz", "age":19, "gender":"male"}

5  Why might you use a set instead of a list in Python?
- In python list is a data type which ordered and it allows duplicate values,so when our use case is like needed  unique items in your data so we prefered a set insted of list.
- Basically, set will does not allow you duplicate item which is its property which is unique set from the other data sturcture.

6 What is a string in Python, and how is it different from a list?
- A string in python is nothing but a sequence of character which enclosed within single quote,double quote and triple quote.Also string is immutable data type.Meaning that once a string is created its contents cannot be changed directly. If you try to modify a character inside a string, Python will raise an error; instead you must create a new string if you want to change its contents.
- A list in Python, on the other hand, is a general-purpose, ordered collection of items that can hold elements of any data type, such as numbers, strings, or even other lists. Lists are created using square brackets like[],[1,2].Unlike strings, lists are mutable, which means you can change, add, or remove elements from them after they are created. For example, you can append a new value to a list or replace an existing element by assigning to its index.

7  How do tuples ensure data integrity in Python?
- Basically in python tuples s an ordered sequence of items that is immutable, meaning its contents cannot be changed after creation.because once a tuple is defined its values stay fixed, preventing accidental changes during program execution.

8 What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key–value pairs and uses a hash function to calculate where each key’s value should be kept. This allows very fast lookups and updates. Python’s built-in dictionaries are implemented as hash tables under the hood. That is why retrieving a value by its key in a dictionary is much faster than searching through a list.

9 P Can lists contain different data types in Python?
- Yes. Python lists are heterogeneous containers, meaning you can mix integers, strings, floats, even other lists or objects inside the same list. This flexibility lets you group related but differently-typed pieces of data together without converting them to a single type.

10  Explain why strings are immutable in Python?
- Strings are immutable objects. When you try to change a string, Python actually creates a new string rather than modifying the old one. This design choice makes strings safe to share between parts of a program, speeds up internal operations like caching and hashing, and allows them to be used as dictionary keys reliably.

11 What advantages do dictionaries offer over lists for certain tasks?
- Lists are accessed by position, so to find a value you often have to scan through all the items. Dictionaries, on the other hand, are keyed collections. You can associate each value with a meaningful key and retrieve it directly in constant time. This is much clearer and faster when you have labeled data or need to look things up frequently.

12 P Describe a scenario where using a tuple would be preferable over a list?
- If you have Storing a customer’s (name, email, phone) as a single, fixed record.
Since this information should stay together and not be changed accidentally, you can keep it in a tuple like ("Ravi Kumar", "ravi@gmail.com", "9876543210") instead of a list.

13 How do sets handle duplicate values in Python?
- A set is a collection of unique, unordered elements. When you add a value that is already present, the set simply ignores the duplicate. This behavior is automatic and is part of the way sets are implemented using hashing. It’s helpful when you need to remove duplicates from a collection quickly.

14 How does the “in” keyword work differently for lists and dictionaries?
- When you use in with a list, Python checks each element in order to see if the value is present. When you use in with a dictionary, Python does not look at the values; it only checks the keys of the dictionary. If you want to test values, you must use value in mydict.values() instead.

15 Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot change, add, or delete elements of a tuple once it has been created. Tuples are immutable objects. Any operation that appears to modify a tuple actually produces a new tuple, leaving the original untouched. This is what makes tuples reliable for fixed data.

16 What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary whose values are themselves dictionaries. It is useful for storing structured or hierarchical data. For example:students = {
    "A101": {"name": "Ravi", "marks": 85},
    "A102": {"name": "Sara", "marks": 92}
}Here each student ID maps to another dictionary containing that student’s details.

17 Describe the time complexity of accessing elements in a dictionary?
- Accessing, inserting, or deleting an element in a dictionary is on average O(1) time because of the underlying hash table. This means that, unlike a list, the performance does not depend on the size of the dictionary in typical cases.

18  In what situations are lists preferred over dictionaries?
- Lists are better when the data is naturally ordered and you only need to access elements by their position. They’re also simpler when you just need to iterate over items in sequence or store multiple values without assigning them specific keys.

19 P Why are dictionaries considered unordered, and how does that affect data retrieval?
- Conceptually, a dictionary does not assign a fixed order to its keys; it simply maps keys to values. You therefore retrieve items by their key, not by position. (Although Python 3.7+ preserves insertion order for convenience, you should still treat dictionaries as unordered when writing code.)

20 P Explain the difference between a list and a dictionary in terms of data retrieval?
- A list stores items in order and you access them by numeric index, like mylist[0]. A dictionary stores key–value pairs and you access values by key, like mydict["name"]. This key-based access is much faster and more descriptive when your data has labels rather than just positions.

In [1]:
#Write a code to create a string with your name and print it
name="ravi kisan malhotra"
print(name)

ravi kisan malhotra

In [2]:
# Write a code to find the length of the string "Hello World"
s="Hello World"
len(s)

11

In [4]:
#Write a code to slice the first 3 characters from the string "Python Programming"
s="Python Programming"
s[:3]
s[0:3]

'Pyt'

In [8]:
# Write a code to convert the string "hello" to uppercase
s="hello"
s.upper()

'HELLO'

In [9]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
s="I like apple"
s.replace("apple","orange")

'I like orange'

In [12]:
#Write a code to create a list with numbers 1 to 5 and print it
num=[1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [13]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [14]:
 #Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
 lst=[1,2,3,4,5]
 lst.remove(3)
 print(lst)

[1, 2, 4, 5]

In [17]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst1=['a', 'b', 'c', 'd']
lst1[1]

'b'

In [16]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10, 20, 30, 40, 50]
reverse_list=lst[::-1]
print(reverse_list)

[50, 40, 30, 20, 10]

In [19]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [21]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup1=('red', 'green', 'blue', 'yellow')
tup1[1::]

('green', 'blue', 'yellow')

In [22]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup3=(10, 20, 5, 15)
minimum_value=min(tup3)
print(minimum_value)

5

In [23]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animal=('dog', 'cat', 'rabbit')
animal.index("cat")

1

In [24]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("apple","banana","kiwi","chicku")
"kiwi" in fruits

True

In [25]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it
set1={'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

In [26]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}
set2={1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

In [27]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3={1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

In [28]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set4={1, 2, 3}
set5={3, 4, 5}
set4.union(set5)

{1, 2, 3, 4, 5}

In [29]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set6={1, 2, 3}
set7={2, 3, 4}
set6.intersection(set7)

{2, 3}

In [30]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
dic={"name":"raju","age":19,"city":"pune"}
print(dic)

{'name': 'raju', 'age': 19, 'city': 'pune'}

In [31]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dic1={'name': 'John', 'age': 25}
dic1["country"]="USA"
print(dic1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dic2={'name': 'Alice', 'age': 30}
dic2["name"]

'Alice'

In [33]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic3={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic3.pop("age")
print(dic3)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dic4={'name': 'Alice', 'city': 'Paris'}
"city" in dic4

True

In [35]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
lst=[1,2,3]
tup=(1,2,3)
dic={"name":"raju","age":19,"city":"pune"}
print(lst)
print(tup)
print(dic)

[1, 2, 3]
(1, 2, 3)
{'name': 'raju', 'age': 19, 'city': 'pune'}

In [36]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random

# create a list of 5 random numbers between 1 and 100
numbers = [random.randint(1, 100) for _ in range(5)]

# sort the list in ascending order
numbers.sort()

# print the result
print(numbers)

[20, 53, 61, 83, 85]

In [37]:
# Write a code to create a list with strings and print the element at the third index.
lst=["ravi","kisan","malhotra"]
lst[2]

'malhotra'

In [38]:
#Write a code to combine two dictionaries into one and print the result.
# define two dictionaries
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
#. Write a code to convert a list of strings into a set.
lst=["ravi","kisan","malhotra"]
set(lst)

{'kisan', 'malhotra', 'ravi'}